body,
html,
#root {
  width  : 100%;
  height : 100%;
  margin : 0;
  padding: 0;
}

.panel {
  background       : url('./img/bg.png');
  width            : 100%;
  height           : 100%;
  background-repeat: no-repeat;
  background-size  : 100% 100%;
 
}
.prize-panel {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background : url('./img/lottery.png');
  background-repeat: no-repeat;
  background-size  : 100% 100%;
}
.title-box{
  position: absolute;
  top: -48px;
  width: 100%;
  text-align: center;
}
.title-img{
  background: url('./img/title.png');
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 118px;
  background-position:center;
  line-height: 118px;
  font-family: SourceHanSansCN-Bold;
  font-size: 70px;
  color: #FFB975;

}
.outer {
  width: 200px;
  height: 200px;
  border: solid 6px #7C3E06;
  background-image: linear-gradient(#F0D2AC, #D9A974,#F8C798 ,#F4B071);
  border-radius: 1px;
}
.inner {
  background: #fff;
  margin: 12px;
  background-size: 100% 100%;
}
.base {
  color:#fff;
  text-align: center;
  background-size: 100% 100%;
  /* height: 100%; */
}
.m-1 {
  margin: 1rem;
}
.square-box{
  background: url('./img/square.png');
  background-repeat: no-repeat;
  background-size  : 100% 100%;
  width: 27%;
  height: 25rem;
}
.prize-show-panel{
 
  border: 2px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 10% 0px;
}
.prize-img{
  width: 17%;

  /* border: 3px solid; */
  position: relative;
  margin: 1%;
  padding-bottom: 100%;
  height: 0px;
}
.photo{
  /* position: absolute;
  top: 7%;
  left: 7%;
  right: 7%;
  bottom: 7%; */
  background: url('./img/photo.jpeg');
  background-repeat: no-repeat;
  background-size  : 100% 100%;
  border-radius: 50%;
  height: 100px;
}
.slot-box-inner{
  overflow: hidden;
  border: 2px solid blue;
}
.slot-box-inner.move {
  background: linear-gradient(to right, #0be881 0%, #4bcffa 50%, #0be881 100%);
  background-size: 100%;
  animation: sbg 1s infinite alternate;
}
.slot-items{
 
}
@keyframes sbg {
  0% {
      background-position: 100%;
  }

  50% {
      background-position: -100%;
  }

  100% {
      background-position: 0;
  }
}
